@tailwind base;
@tailwind components;
@tailwind utilities;

@plugin "@tailwindcss/typography";

@layer utilities{
    .nav-link{
        @apply text-zinc-500 hover:text-zinc-800 transition-colors
    }
}